@page "/"

<PageTitle>Home</PageTitle>

<h1>Fix It</h1>

<div class="container">
    <table>
        <tbody>
        @for (int i = 0; i < 9; i++)
        {
            <tr>
                @for (int j = 0; j < 9; j++)
                {
                    <td class="@(CellClass(i, j) + " " + OverlayClass(i, j))">@(numberGrid[i, j])</td>
                }
            </tr>
        }
        </tbody>
    </table>
    <div class="button-container">
        <button @onclick="ClearOverlay">Clear</button>
        <button @onclick="SetOverlay1">Full</button>
        <button @onclick="SetOverlay2">Corner</button>
    </div>
</div>


@code {
    private string TableClass = "overlay-none";

    private string[,] numberGrid = new string[9, 9]
    {
        { "5", "3", "0", "0", "7", "0", "0", "0", "0" },
        { "6", "0", "0", "1", "9", "5", "0", "0", "0" },
        { "0", "9", "8", "0", "0", "0", "0", "6", "0" },
        { "8", "0", "0", "0", "6", "0", "0", "0", "3" },
        { "4", "0", "0", "8", "0", "3", "0", "0", "1" },
        { "7", "0", "0", "0", "2", "0", "0", "0", "6" },
        { "0", "6", "0", "0", "0", "0", "2", "8", "0" },
        { "0", "0", "0", "4", "1", "9", "0", "0", "5" },
        { "0", "0", "0", "0", "8", "0", "0", "7", "9" }
    };

    private string[,] extraClassGrid = new string[9, 9]
    {
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" },
        { "", "", "", "", "", "", "", "", "" }
    };

    private string CellClass(int row, int col)
    {
        if (col % 3 == 2 && row % 3 == 2)
        {
            return "thicker-corner";
        }

        if (col % 3 == 2)
        {
            return "thicker-right";
        }

        if (row % 3 == 2)
        {
            return "thicker-bottom";
        }

        return "";
    }

    private string OverlayClass(int row, int col)
    {
        return extraClassGrid[row, col];
    }

    private void ClearOverlay()
    {
        extraClassGrid = new string[9, 9]
        {
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" },
            { "", "", "", "", "", "", "", "", "" }
        };
    }

    private void SetOverlay1()
    {
        extraClassGrid = new string[9, 9]
        {
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" }
        };
    }

    private void SetOverlay2()
    {
        extraClassGrid = new string[9, 9]
        {
            { "", "", "", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "", "", "", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "", "", "", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" },
            { "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur", "blur" }
        };
    }

}